<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoMysqlImpl" class="com.hu.dao.UserDaoMysqlImpl">

    </bean>

    <bean id="userDaoOracleImpl" class="com.hu.dao.UserDaoOracleImpl"/>

    <bean id="userServiceImpl" class="com.hu.service.UserServiceImpl">
        <!--注意: 这里的name并不是属性 , 而是set方法后面的那部分 , 首字母小写-->
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <property name="userDao" ref="userDaoOracleImpl"/>
    </bean>



    <!-- more bean definitions go here -->

</beans>